$green: #7AC751;
$blue: #00B7F1;
$lightGray: #F7F8FA;

// цвет текста
$white: #FFFF;
$gray: #555555;


.header__topBlock {
    display: flex;
    padding-top: 15px;
    box-sizing: border-box;
    background-color: $green;
    color: white;
    height: 50px;
    font-family: 'Rubik';
    font-size: 16px;
    font-weight: 400;

    a {
        color: $white;
        text-decoration: none;

        &:hover {
            text-decoration: underline;
            text-decoration-color: #FFFFFF;
        }
    }

    span {
        margin-left: 20px;
        margin-right: 20px;
    }
}

.header__topBlock-leftBlock {
    margin-left: 135px;
    width: 214px;
}

.header__topBlock-rightBlock {
    margin-left: 644px;

    img {
        margin-left: 8px;
        margin-bottom: 2px;
    }
}

.header__middleBlock {
    display: flex;
    align-items: center;
    margin-left: 135px;
    height: 92px;
}

.header__middleBlock-search {
    display: flex;
    border: 2px solid $green;
    width: 582px;
    border-radius: 8px;
    margin-left: 120px;

    input {
        border: none;
        width: 403px;
        padding-left: 25px;
        border-radius: 8px;
        box-sizing: border-box;
        font-family: 'Rubik';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;

        &::placeholder {
            color: #B0B0B0;
        }

        &:focus {
            border: none;
            outline: none;
            box-shadow: none;
        }
    }

    button {
        border: none;
        border-left: 1.5px solid #E3E3E3;
        background-color: #FFFF;
        width: 123px;
        height: 46px;
        font-family: 'Rubik';
        font-size: 14px;
        font-weight: 400;
        color: $gray;
        text-align: left;
    }

    .header__middleBlock-img {
        margin-left: 10px;
        margin-bottom: 2px;
    }

    div {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $green;
        width: 56px;
    }
}

#header__categoriesList {
    position: absolute;
    margin-left: 673px;
    margin-top: 377px;

    a {
        height: 41px;
        font-family: 'Rubik';
        font-size: 14px;
        font-weight: 400;
        color: $gray;
        text-decoration: none;
        background-color: #FFFFFF;
        width: 123px;
        box-sizing: border-box;
        padding: 15px;
        border-bottom: 1px solid $lightGray;

        &:hover {
            color: $green;
        }
    }
}

#closelist {
    background-color: $green;
    border: none;
    width: 20px;
    margin-left: 103px;
    border-radius: 8px;
}

.header__middleBlock-number {
    background-color: $green;
    height: 12px;
    width: 12px;
    border-radius: 50px;
    position: absolute;
}

.header__middleBlock-userInfo {
    display: flex;
    margin-left: 174px;

    div {
        margin-left: 20px;
    }
}

.header__menu {
    display: flex;
    background-color: $lightGray;
    height: 67px;
    font-family: 'Rubik';

    a {
        font-size: 16px;
        font-weight: 500;
        color: $gray;
        text-decoration: none;
        margin-left: 65px;
        padding-top: 25px;

        &:hover {
            text-decoration: underline;
            text-decoration-color: $green;
        }
    }

    a:nth-child(2) {
        margin-left: 82px;
    }
}

.header__menu-allCollections {
    display: flex;
    align-items: center;
    height: 67px;
    width: 260px;
    margin-left: 135px;
    font-size: 16px;
    font-weight: 500;
    color: $white;
    background-color: $green;

    img {
        margin-left: 33px;
    }

    p {
        margin-left: 23px;
        margin-top: 20px;
    }
}

nav {
    display: grid;
    margin-left: 135px;
    width: 260px;
    background-color: $lightGray;

    a {
        height: 41px;
        font-family: 'Rubik';
        font-size: 14px;
        font-weight: 400;
        color: $gray;
        text-decoration: none;
        padding-left: 29px;
        padding-top: 10px;
        border-top: 0.8px solid #E3E3E3;
        box-sizing: border-box;

        &:hover {
            color: $green;
        }
    }
}

.mainSection {
    display: flex;
}

.mainImgSection {
    display: grid;
    width: 899px;
    height: 439px;
    background: linear-gradient(103.4deg, rgba(241, 250, 255, 0.88) 0.89%, #F1FAFF 101.61%);
    border-radius: 1px;
    margin-top: 12px;
    margin-left: 11px;
}

.mainImgSection__topBlock {
    display: flex;
    height: 410px;
}

.mainImgSection__bottomBlock {
    height: 15px;
    margin-bottom: 22px;
    box-sizing: border-box;
    text-align: center;
}

.mainImgSection__leftBlock {
    margin-top: 73px;
    margin-left: 47px;
    box-sizing: border-box;
    width: 320px;

    .mainImgSection__leftBlock-title {
        font-family: 'Rubik';
        font-style: normal;
        font-weight: 400;
        font-size: 22px;
        color: $green;
    }

    img {
        margin-top: 6px;
    }

    .mainImgSection__leftBlock-mine {
        background-image: url('images/underline.png');
        background-repeat: no-repeat;
        background-position: right 10px bottom;
        font-family: 'Rubik';
        font-size: 40px;
        font-weight: 500;
        color: #2F2F2F;
        margin-top: 6px;
        height: 94px;
    }

    .mainImgSection__leftBlock-discount {
        margin-top: 29px;
        font-family: 'Mulish';
        font-style: normal;
        font-weight: 600;
        font-size: 27px;
        color: rgba(81, 81, 81, 0.71);
    }

    button {
        background-color: $green;
        color: $white;
        border-radius: 5px;
        border: none;
        width: 129px;
        height: 40px;
        font-family: 'Mulish';
        font-size: 16px;
        font-weight: 700;
        margin-top: 35px;

        &:hover {
            color: $gray;
        }
    }
}

.mainImgSection__middleBlock {
    margin-top: 36px;
    margin-left: 16px;
}

.mainImgSection__rightBlock {
    display: grid;
    padding-top: 58px;
    height: 322px;

    .mainImgSection__rightBlock-img {
        display: grid;
        width: 98px;
        height: 91.47px;
        background: linear-gradient(180deg, rgba(255, 255, 255, 0.6) 0%, rgba(255, 255, 255, 0.56) 100%);
        border: 2px solid #FFFFFF;
        border-radius: 8px;
        padding-top: 5px;
        box-sizing: border-box;
        text-align: center;
        color: $green;
        font-size: 11px;
        font-weight: 500;
        font-family: 'Rubik';
    }

    img {
        margin: auto;
    }
}

.mainImgSection__button {
    height: 12px;
    width: 12px;
    border-radius: 50px;
    background: rgba(122, 199, 81, 0.29);
    border: none;
    margin-left: 15px;

    &:hover {
        background-color: $green;
    }
}

.mainImgSection__activeButton {
    height: 9px;
    width: 24px;
    border-radius: 666px;
    background-color: $green;
    border: none;
    margin-left: 15px;
}

.main__mainInfo {
    display: flex;
    margin-left: 26px;
    margin-top: 69px;
}

.main__mainInfo-card {
    display: flex;
    margin-left: 107px;
}

.main__mainInfo-description {
    display: grid;
    width: 150px;
    margin-left: 10px;

    span {
        font-family: 'Rubik';
        font-size: 20px;
        font-weight: 500;
        color: $gray;
        padding-top: 5px;

        &:nth-child(2) {
            font-size: 14px;
            font-weight: 400;
            color: rgba(81, 81, 81, 0.71);
        }
    }
}

.main__discount {
    display: flex;
    margin-left: 133px;
    margin-top: 73px;

    .main__discount-right {
        background-image: url('images/discount1.png');
        height: 510px;
        width: 670px;

        div:nth-child(1) {
            font-weight: 700;
        }

        div:nth-child(2) {
            font-weight: 400;
        }
    }

    .main__discount-left {
        display: grid;
        margin-left: 19px;
        row-gap: 17px;
    }

    .main__discount-2 {
        background-image: url('images/discount2.png');
        height: 247px;
        width: 485px;
    }

    .main__discount-3 {
        background-image: url('images/discount3.png');
        height: 247px;
        width: 485px;
    }

    .main__discount-title {
        font-family: Mulish;
        font-size: 22px;
        font-weight: 700;
        color: $gray;
    }

    .main__discount-discount {
        font-family: Mulish;
        font-size: 20px;
        font-weight: 600;
        color: $green;
        margin-top: 8px;

        span {
            font-weight: 800;
        }
    }

    .main__discount-more {
        font-family: Mulish;
        font-size: 16px;
        font-weight: 400;
        margin-top: 10px;

        a {
            text-decoration: none;
            color: #757575;
        }
    }

    .main__discount-about1 {
        margin-top: 60px;
        margin-left: 31px;
    }

    .main__discount-about2 {
        margin-top: 52px;
        margin-left: 24px;

    }

    .main__discount-about3 {
        margin-top: 37px;
        margin-left: 24px;
    }
}

// @media (min-width: 1600px) and (max-width: 2560px) {

//     .header__topBlock {
//         justify-content: space-around;
//     }

//     .header__middleBlock {
//         justify-content: center;
//     }

//     .header__middleBlock-search {
//         margin-left: 16%;
//         margin-right: 16%;
//     }

//     .header__menu {
//         padding-left: 15%;
//     }

//     .mainSection {
//         margin-left: 15%;
//     }

//     .header__menu-allCollections {
//         width: 360px;
//     }

//     nav {
//         width: 360px;

//         a {
//             height: 50px;
//             padding-top: 20px;
//             font-size: 16px;
//             font-weight: 400;
//         }
//     }

//     .mainImgSection {
//         width: 1000px;
//         height: 539px;
//     }

//     .mainImgSection__middleBlock {
//         border: 1px solid red;
//     }

//     .mainImgSection__rightBlock-img {
//         display: grid;
//         width: 110px;
//         height: 100px;
//     }

//     .mainImgSection__leftBlock {
//         width: 330px;
//     }

//     .mainImgSection__leftBlock-mine {
//         background-image: url('images/underline.png');
//         background-repeat: no-repeat;
//         background-position: right 55px bottom;
//     }
// }

// @media (min-width: 1270px) and (max-width: 1329px) {
//     .header__topBlock {
//         min-width: 100vw;
//         justify-content: space-around;
//     }

//     .header__topBlock-leftBlock {
//         margin-left: 0px;
//     }

//     .header__topBlock-rightBlock {
//         margin-left: 0px;
//     }

//     .header__middleBlock {
//         justify-content: space-around;
//         margin-left: 0px;
//     }

//     .header__middleBlock-search {
//         margin-left: 0px;
//     }

//     .header__middleBlock-userInfo {
//         margin-left: 0px;
//     }

//     .header__menu {

//         a {
//             margin-left: 50px;
//         }

//         a:nth-child(2) {
//             margin-left: 70px;
//         }
//     }

//     .header__menu-allCollections {
//         margin-left: 0px;
//     }

//     #header__categoriesList {
//         margin-left: 0px;
//         text-align: center;

//         a {
//             width: 580px;
//         }
//     }

//     .mainSection {
//         margin-left: 0px;
//     }

//     .mainImgSection {
//         width: 70%;
//     }

//     .mainImgSection__rightBlock {
//         display: none;
//     }

//     nav {
//         margin-left: 0px;
//     }

//     .main__mainInfo {
//         justify-content: center;
//         margin-left: 0px;
//     }

//     .main__mainInfo-card {
//         margin-left: 30px;
//     }

//     .main__discount {
//         margin-left: 5%;
//     }

//     .main__discount-left {
//         // height: 340px;

//         margin-left: 5px;
//         row-gap: 5px;
//     }

//     .main__discount-right {
//         // height: 550px;
//         // width: 423px;
//     }

//     .main__discount-2 {
//         height: 247px;
//         width: 470px;
//         // width: 80%;
//         // height: 80%;
//     }

//     .main__discount-3 {
//         height: 247px;
//         width: 470px;
//         // width: 80%;
//         // height: 80%;
//     }

//     .main__discount-right,
//     .main__discount-2,
//     .main__discount-3 {
//         background-size: cover;
//         // background-repeat: no-repeat;
//     }

// }

// @media (min-width: 1024px) and (max-width: 1269px) {
//     .header__topBlock {
//         min-width: 100vw;
//         justify-content: space-around;
//     }

//     .header__topBlock-leftBlock {
//         margin-left: 0px;
//     }

//     .header__topBlock-rightBlock {
//         margin-left: 0px;
//     }

//     .header__middleBlock {
//         justify-content: space-around;
//         margin-left: 0px;
//     }

//     .header__middleBlock-search {
//         margin-left: 0px;
//     }

//     .header__middleBlock-userInfo {
//         margin-left: 0px;
//     }

//     .header__menu {

//         a {
//             margin-left: 50px;
//         }

//         a:nth-child(2) {
//             margin-left: 70px;
//         }
//     }

//     .header__menu-allCollections {
//         margin-left: 0px;
//     }

//     #header__categoriesList {
//         margin-left: 0px;
//         text-align: center;

//         a {
//             width: 580px;
//         }
//     }

//     .mainSection {
//         margin-left: 0px;
//     }

//     .mainImgSection {
//         width: 70%;
//     }

//     .mainImgSection__rightBlock {
//         display: none;
//     }

//     nav {
//         margin-left: 0px;
//     }

//     .main__mainInfo {
//         justify-content: center;
//         margin-left: 0px;
//     }

//     .main__mainInfo-card {
//         margin-left: 30px;
//     }

//     .main__discount {
//         // display: grid;

//     }

//     .main__discount-left {
//         // height: 340px;

//         margin-left: 5px;
//         row-gap: 5px;
//     }

//     .main__discount-right {
//         // height: 550px;
//         // width: 423px;
//     }

//     .main__discount-2 {
//         height: 247px;
//         width: 470px;
//         // width: 80%;
//         // height: 80%;
//     }

//     .main__discount-3 {
//         height: 247px;
//         width: 470px;
//         // width: 80%;
//         // height: 80%;
//     }

//     .main__discount-right,
//     .main__discount-2,
//     .main__discount-3 {
//         background-size: cover;
//         // background-repeat: no-repeat;
//     }

// }

@media (width: 768px) {
    .header__topBlock {
        width: 100%;
        justify-content: space-around;
    }

    .header__topBlock-leftBlock {
        margin-left: 0px;
    }

    .header__topBlock-rightBlock {
        margin-left: 0px;
    }

    .header__middleBlock {
        margin-left: 0px;
        display: flex;
        justify-content: space-around;
    }

    .header__middleBlock-search {
        margin-left: 0px;
        width: 350px;

        input {
            width: 200px;
            font-size: 12px;
        }
    }

    #header__categoriesList {
        position: absolute;
        margin-top: 377px;
        margin-left: auto;

        a {
            width: 350px;
        }
    }

    #closelist {
        background-color: $green;
        border: none;
        width: 20px;
        margin-left: 103px;
        border-radius: 8px;
    }

    .header__middleBlock-userInfo {
        margin-left: 0px;
    }

    .header__menu {
        a {
            margin-left: 35px;
        }

        a:nth-child(2) {
            margin-left: 35px;
        }
    }

    .header__menu-allCollections {
        margin-left: 0px;
    }

    nav {
        margin-left: 0px;
        width: 260px;
    }

    .mainImgSection {
        width: 450px;
    }

    .mainImgSection__leftBlock {
        // margin-top: 73px;
        // margin-left: 47px;
        // box-sizing: border-box;
        // width: 320px;

        .mainImgSection__leftBlock-title {
            font-size: 16px;
        }

        // img {
        //     margin-top: 6px;
        // }

        .mainImgSection__leftBlock-mine {
            background-position: right 15px bottom 30px;
            font-size: 24px;
            width: 200px;
        }

        .mainImgSection__leftBlock-discount {
            margin-top: -10px;
            font-size: 22px;
            width: 200px;
        }

        // button {
        //     background-color: $green;
        //     color: $white;
        //     border-radius: 5px;
        //     border: none;
        //     width: 129px;
        //     height: 40px;
        //     font-family: 'Mulish';
        //     font-size: 16px;
        //     font-weight: 700;
        //     margin-top: 35px;

        //     &:hover {
        //         color: $gray;
        //     }
        // }
    }

    .mainImgSection__middleBlock {
        margin-top: 86px;
        margin-left: 0px;

        img {
            width: 90%;
        }
    }

    .mainImgSection__rightBlock {
        display: none;
    }

    .main__mainInfo-card {
        margin-left: 0px;
    }

    .main__mainInfo-description {
        width: 100px;

        span {
            &:nth-child(2) {
                display: none;
            }
        }
    }

    .main__discount {
        display: grid;
        margin-left: 0px;

        .main__discount-right {
            margin: auto;
        }

        .main__discount-left {
            margin: auto;
            margin-top: 20px;
        }
    }
}

// +

@media (width: 425px) {}

@media (width: 375px) {}