$green: #7AC751;
$blue: #00B7F1;
$lightGray: #F7F8FA;

// цвет текста
$white: #FFFF;
$gray: #555555;


.header__topBlock {
    display: flex;
    padding-left: 135px;
    padding-top: 15px;
    box-sizing: border-box;
    background-color: $green;
    color: white;
    height: 50px;
    font-family: 'Rubik';
    font-size: 16px;
    font-weight: 400;

    div :nth-child(1) {
        padding-left: 664px;
    }

    a {
        color: $white;
        text-decoration: none;
        padding-left: 20px;
    }
}

.header__middleBlock {
    display: flex;
    align-items: center;
    margin-left: 135px;
    height: 92px;
}

.header__middleBlock-search {
    display: flex;
    border: 2px solid $green;
    width: 582px;
    border-radius: 8px;
    margin-left: 120px;

    input {
        border: none;
        width: 403px;
        padding-left: 25px;
        border-radius: 8px;
    }

    button {
        border: none;
        border-left: 1.5px solid #E3E3E3;
        background-color: #FFFF;
        width: 123px;
        height: 46px;
    }

    div {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $green;
        width: 53px;
    }
}

.header__middleBlock-userInfo {
    display: flex;
    margin-left: 174px;

    div {
        margin-left: 20px;
    }
}

.header__menu {
    display: flex;
    background-color: $lightGray;
    height: 67px;
    font-family: 'Rubik';

    a {
        font-size: 16px;
        font-weight: 500;
        color: $gray;
        text-decoration: none;
        margin-left: 65px;
        padding-top: 25px;
    }

    a:nth-child(2) {
        margin-left: 82px;
    }
}

.header__menu-allCollections {
    display: flex;
    align-items: center;
    height: 67px;
    width: 260px;
    margin-left: 135px;
    font-size: 16px;
    font-weight: 500;
    color: $white;
    background-color: $green;

    img {
        margin-left: 33px;
    }

    p {
        margin-left: 23px;
        margin-top: 20px;
    }
}

nav {
    display: grid;
    margin-left: 135px;
    width: 260px;
    background-color: $lightGray;

    a {
        height: 41px;
        font-family: 'Rubik';
        font-size: 14px;
        font-weight: 400;
        color: $gray;
        text-decoration: none;
        padding-left: 29px;
        padding-top: 10px;
        border-top: 0.8px solid #E3E3E3;
        box-sizing: border-box;
    }
}

.mainSection {
    display: flex;
}

.mainImgSection {
    display: flex;
    width: 899px;
    height: 439px;
    background: linear-gradient(103.4deg, rgba(241, 250, 255, 0.88) 0.89%, #F1FAFF 101.61%);
    border-radius: 1px;
    margin-top: 12px;
    margin-left: 11px;
}

.mainImgSection__leftBlock {
    margin-top: 73px;
    margin-left: 47px;
    border: 1px solid red;
    box-sizing: border-box;
    margin-bottom: 50px;

    .mainImgSection__leftBlock-title {
        font-family: 'Rubik';
        font-style: normal;
        font-weight: 400;
        font-size: 22px;
        color: $green;
    }

    img {
        margin-top: 6px;
    }

    .mainImgSection__leftBlock-discount {
        margin-top: 29px;
        font-family: 'Mulish';
        font-style: normal;
        font-weight: 600;
        font-size: 27px;
        color: rgba(81, 81, 81, 0.71);
    }

    button {
        background-color: $green;
        color: $white;
        border-radius: 5px;
        border: none;
        width: 129px;
        height: 40px;
        font-family: 'Mulish';
        font-size: 16px;
        font-weight: 700;
        margin-top: 35px;
    }
}

.mainImgSection__middleBlock {
    margin-top: 36px;
    margin-left: 16px;
    box-sizing: border-box;
    margin-bottom: 50px;
    border: 1px solid red;
}


.mainImgSection__rightBlock {
    display: grid;
    padding-top: 58px;
    border: 1px solid red;

    .mainImgSection__rightBlock-img {
        display: grid;
        width: 98px;
        height: 91.47px;
        background: linear-gradient(180deg, rgba(255, 255, 255, 0.6) 0%, rgba(255, 255, 255, 0.56) 100%);
        border: 2px solid #FFFFFF;
        border-radius: 8px;
        padding-top: 5px;
        box-sizing: border-box;
        text-align: center;
        color: $green;
        font-size: 11px;
        font-weight: 500;
        font-family: 'Rubik';
    }

    img {
        margin: auto;
    }
}

.mainImgSection__bottomBlock {
    text-align: center;
}

.main__mainInfo {
    margin-left: 27px;
    margin-top: 69px;

    img {
        margin-left: 107px;
    }
}

.main__discount {
    display: grid;
    margin-left: 133px;
    margin-top: 73px;
    grid-template-columns: 669px 485px;
    grid-template-rows: 250px 250px;
    column-gap: 19px;
    row-gap: 17px;

    .main__discount-1 {
        background-image: url('/discount1.png');
        grid-column: 1/2;
        grid-row: 1/3;
    }

    .main__discount-2 {
        background-image: url('/discount2.png');
        grid-column: 2/3;
        grid-row: 1/2;
    }

    .main__discount-3 {
        background-image: url('/discount3.png');
        grid-column: 2/3;
        grid-row: 2/3;
    }

    .main__discount-title {
        font-family: Mulish;
        font-size: 22px;
        font-weight: 700;
        color: $gray;
    }

    .main__discount-discount {
        font-family: Mulish;
        font-size: 20px;
        font-weight: 600;
        line-height: 26px;
        color: $green;
        margin-top: 8px;
    }

    .main__discount-more {
        font-family: Mulish;
        font-size: 16px;
        font-weight: 400;
        color: #757575;
        margin-top: 10px;
    }

    .main__discount-about1 {
        margin-top: 63px;
        margin-left: 31px;
    }

    .main__discount-about2 {
        margin-top: 59px;
        margin-left: 24px;
    }

    .main__discount-about3 {
        margin-top: 37px;
        margin-left: 24px;
    }
}